<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="hmis_inventoryConnectionString" connectionString="server=192.168.0.36;User Id=root;password=root;Persist Security Info=True;database=hmis_inventory_hf3_test;pooling=true;pooling=true;Connection Timeout=10; default command timeout=10000;"
      providerName="MySql.Data.MySqlClient" />
    <add name="hmis_inventory_testConnectionString" connectionString="server=192.168.0.36;User Id=root;password=root;database=hmis_inventory_test"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MyConn" value="hmis_inventoryConnectionString" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabledwwwwwwwwwww" value="true" />
    <add key="chitPrinter" value="HP LaserJet Basement"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <services>
      <service name="DynamicService.DynamicService"  behaviorConfiguration="ServiceBehaviour">
      </service>     
    </services>

      <bindings>
          <basicHttpBinding>
              <binding name="Mage_Api_Model_Server_V2_HandlerBinding" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="09:30:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                  maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true" messageEncoding="Text">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  <security mode="None">
                      <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                      <message clientCredentialType="UserName" algorithmSuite="Default" />
                  </security>
              </binding>
              <binding name="Mage_Api_Model_Server_V2_HandlerBinding1" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="09:30:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                  maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true" messageEncoding="Text">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  <security mode="None">
                      <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                      <message clientCredentialType="UserName" algorithmSuite="Default" />
                  </security>
              </binding>
              <binding name="Mage_Api_Model_Server_V2_HandlerBinding2" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="09:30:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                  maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true" messageEncoding="Text">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  <security mode="None">
                      <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                      <message clientCredentialType="UserName" algorithmSuite="Default" />
                  </security>
              </binding>
              <binding name="BasicHttpBinding_IInventoryService" />
              <binding name="Mage_Api_Model_Server_V2_HandlerBinding3" />
              <binding name="Mage_Api_Model_Server_V2_HandlerBinding4" />
          </basicHttpBinding>
      </bindings>
    <client>
      <endpoint address="http://107.23.41.221/magento_test/index.php/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
        contract="test_ms.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort" />
      <endpoint address="http://192.168.0.31:81/hf/index.php/api/v2_soap/index/?wsdl%2Fmex="
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding1"
        contract="ms.Mage_Api_Model_Server_V2_HandlerPortType" name="Mage_Api_Model_Server_V2_HandlerPort1" />
      <endpoint address="http://107.23.41.221/magento_usa_beta/index.php/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding2"
        contract="usa_ms.Mage_Api_Model_Server_V2_HandlerPortType" name="Mage_Api_Model_Server_V2_HandlerPort2" />
      <endpoint address="http://localhost:24773/InventoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventoryService"
        contract="ms.IInventoryService" name="BasicHttpBinding_IInventoryService" />
      <endpoint address="http://107.23.41.221/magento_test/index.php/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding3"
        contract="test_ms.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort3" />
      <endpoint address="http://107.23.41.221/magento_usa_beta/index.php/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding4"
        contract="usa_ms.Mage_Api_Model_Server_V2_HandlerPortType" name="Mage_Api_Model_Server_V2_HandlerPort4" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing, Error, Verbose"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>
