<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hmis_inventoryConnectionString" connectionString="metadata=res://*/INV_DB_MODEL.csdl|res://*/INV_DB_MODEL.ssdl|res://*/INV_DB_MODEL.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123;Persist Security Info=True;database=hmis_inventory_01_10_2013&quot;" providerName="System.Data.EntityClient" />
    <add name="hmis_inventoryEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123;Persist Security Info=True;database=hmis_inventory_01_10_2013&quot;" providerName="System.Data.EntityClient" />
    <add name="hmis_inventoryEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123;Persist Security Info=True;database=hmis_inventory_01_10_2013&quot;" providerName="System.Data.EntityClient" />
    <add name="hmis_inventoryEntities2" connectionString="metadata=res://*/NewFolder1.Model1.csdl|res://*/NewFolder1.Model1.ssdl|res://*/NewFolder1.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123;Persist Security Info=True;database=hmis_inventory_01_10_2013&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>